<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="common :: head(~{::title})">
        <title th:text="${salarie.id == null} ? 'Création de salarié' : 'Modification de salarié'">Détail du salarié</title>
      </head>
  <body>
    <div th:replace="common :: navbar(activeSection='salaries', searchAction='/salaries')"></div>
    <div class="container mt-4">
      <h2
        th:text="${salarie.id == null} ? #{msg.creation} : #{msg.modification}"
      >
        Détail du salarié
      </h2>

      <form
        id="saveForm"
        th:object="${salarie}"
        th:action="${salarie.id == null ? '/salaries/save' : '/salaries/' + salarie.id}"
        method="post"
      >
        <!-- Global errors -->
        <div th:if="${#fields.hasGlobalErrors()}" class="alert alert-danger">
          <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">
            Global error
          </p>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label for="id">ID</label>
              <input
                type="text"
                th:value="*{id}"
                class="form-control"
                id="id"
                disabled
              />

              <label for="nom">Nom</label>
              <input
                type="text"
                th:field="*{nom}"
                class="form-control"
                th:classappend="${#fields.hasErrors('nom')} ? 'is-invalid'"
              />
              <div
                class="invalid-feedback"
                th:if="${#fields.hasErrors('nom')}"
                th:errors="*{nom}"
              ></div>

              <label for="moisEnCours">Mois en cours</label>
              <input
                type="date"
                th:field="*{moisEnCours}"
                class="form-control"
                th:classappend="${#fields.hasErrors('moisEnCours')} ? 'is-invalid'"
              />
              <div
                class="invalid-feedback"
                th:if="${#fields.hasErrors('moisEnCours')}"
                th:errors="*{moisEnCours}"
              ></div>

              <label for="moisDebutContrat">Mois début contrat</label>
              <input
                type="date"
                th:field="*{moisDebutContrat}"
                class="form-control"
                th:classappend="${#fields.hasErrors('moisDebutContrat')} ? 'is-invalid'"
              />
              <div
                class="invalid-feedback"
                th:if="${#fields.hasErrors('moisDebutContrat')}"
                th:errors="*{moisDebutContrat}"
              ></div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="form-group">
              <label for="joursTravaillesAnneeN"
                >Jours travaillés année N</label
              >
              <div class="input-group">
                <input
                  type="number"
                  step="0.5"
                  th:field="*{joursTravaillesAnneeN}"
                  class="form-control"
                  th:classappend="${#fields.hasErrors('joursTravaillesAnneeN')} ? 'is-invalid'"
                />
                <div class="input-group-append">
                  <span class="input-group-text">j</span>
                </div>
                <div
                  class="invalid-feedback"
                  th:if="${#fields.hasErrors('joursTravaillesAnneeN')}"
                  th:errors="*{joursTravaillesAnneeN}"
                ></div>
              </div>

              <label for="congesPayesAcquisAnneeN"
                >Congés payés acquis année N</label
              >
              <div class="input-group">
                <input
                  type="number"
                  step="0.5"
                  th:field="*{congesPayesAcquisAnneeN}"
                  class="form-control"
                  th:classappend="${#fields.hasErrors('congesPayesAcquisAnneeN')} ? 'is-invalid'"
                />
                <div class="input-group-append">
                  <span class="input-group-text">j</span>
                </div>
                <div
                  class="invalid-feedback"
                  th:if="${#fields.hasErrors('congesPayesAcquisAnneeN')}"
                  th:errors="*{congesPayesAcquisAnneeN}"
                ></div>
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="form-group">
              <label for="joursTravaillesAnneeNMoins1"
                >Jours travaillés année N-1</label
              >
              <div class="input-group">
                <input
                  type="number"
                  step="0.5"
                  th:field="*{joursTravaillesAnneeNMoins1}"
                  class="form-control"
                  th:classappend="${#fields.hasErrors('joursTravaillesAnneeNMoins1')} ? 'is-invalid'"
                />
                <div class="input-group-append">
                  <span class="input-group-text">j</span>
                </div>
                <div
                  class="invalid-feedback"
                  th:if="${#fields.hasErrors('joursTravaillesAnneeNMoins1')}"
                  th:errors="*{joursTravaillesAnneeNMoins1}"
                ></div>
              </div>

              <label for="congesPayesAcquisAnneeNMoins1"
                >Congés payés acquis année N-1</label
              >
              <div class="input-group">
                <input
                  type="number"
                  step="0.5"
                  th:field="*{congesPayesAcquisAnneeNMoins1}"
                  class="form-control"
                  th:classappend="${#fields.hasErrors('congesPayesAcquisAnneeNMoins1')} ? 'is-invalid'"
                />
                <div class="input-group-append">
                  <span class="input-group-text">j</span>
                </div>
                <div
                  class="invalid-feedback"
                  th:if="${#fields.hasErrors('congesPayesAcquisAnneeNMoins1')}"
                  th:errors="*{congesPayesAcquisAnneeNMoins1}"
                ></div>
              </div>

              <label for="congesPayesPrisAnneeNMoins1"
                >Congés payés pris année N-1</label
              >
              <div class="input-group">
                <input
                  type="number"
                  step="0.5"
                  th:field="*{congesPayesPrisAnneeNMoins1}"
                  class="form-control"
                  th:classappend="${#fields.hasErrors('congesPayesPrisAnneeNMoins1')} ? 'is-invalid'"
                />
                <div class="input-group-append">
                  <span class="input-group-text">j</span>
                </div>
                <div
                  class="invalid-feedback"
                  th:if="${#fields.hasErrors('congesPayesPrisAnneeNMoins1')}"
                  th:errors="*{congesPayesPrisAnneeNMoins1}"
                ></div>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-12">
            <button
              type="submit"
              class="btn btn-primary"
              th:text="${salarie.id == null ? 'Créer' : 'Enregistrer'}"
            >
              Submit
            </button>
            <a
              th:if="${salarie.id != null}"
              th:href="@{/salaries/{id}/delete(id=${salarie.id})}"
              class="btn btn-danger"
              >Supprimer</a
            >
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
