<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="common :: head(~{::title})">
    <title>Liste des salariés</title>
  </head>
  <body>
    <div
      th:replace="common :: navbar(activeSection='salaries', searchAction='/salaries')"
    ></div>

    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1>Liste des salariés</h1>
          <a href="/salaries/aide/new" class="btn btn-primary mb-3"
            >Nouveau salarié</a
          >

          <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th scope="col">
                  ID
                  <a
                    th:href="@{/salaries(page=${currentPage},size=${size},sortDirection=${reverseSortDir},sortProperty='id')}"
                  >
                    <i class="fa fa-chevron-up"></i>
                  </a>
                </th>
                <th scope="col">
                  Nom
                  <a
                    th:href="@{/salaries(page=${currentPage},size=${size},sortDirection=${reverseSortDir},sortProperty='nom')}"
                  >
                    <i class="fa fa-chevron-up"></i>
                  </a>
                </th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="salarie : ${salaries}">
                <td th:text="${salarie.id}">1</td>
                <td th:text="${salarie.nom}">Nom du salarié</td>
                <td>
                  <a
                    th:href="@{/salaries/{id}(id=${salarie.id})}"
                    class="btn btn-primary"
                    >Détail</a
                  >
                </td>
              </tr>
            </tbody>
          </table>
          <div class="row">
            <div class="col-lg-6">
              <p>
                Affichage des salariés
                <span th:text="${startCount}">1</span> à
                <span th:text="${endCount}">10</span>
                sur un total de <span th:text="${totalItems}">100</span>
              </p>
            </div>
            <div class="col-lg-6">
              <nav aria-label="Page navigation">
                <ul class="pagination">
                  <!-- Bouton précédent -->
                  <li
                    class="page-item"
                    th:classappend="${currentPage == 0} ? 'disabled'"
                  >
                    <a
                      class="page-link"
                      th:href="@{/salaries(page=${currentPage - 1},size=${size},sortDirection=${sortDirection},sortProperty=${sortProperty})}"
                      tabindex="-1"
                      >Précédent</a
                    >
                  </li>

                  <li
                    class="page-item"
                    th:each="pageNum : ${#numbers.sequence(0, totalPages - 1)}"
                    th:classappend="${pageNum == currentPage} ? 'active'"
                  >
                    <a
                      class="page-link"
                      th:href="@{/salaries(page=${pageNum},size=${size},sortDirection=${sortDirection},sortProperty=${sortProperty})}"
                      th:text="${pageNum + 1}"
                      >1</a
                    >
                  </li>

                  <li
                    class="page-item"
                    th:classappend="${currentPage + 1 >= totalPages} ? 'disabled'"
                  >
                    <a
                      class="page-link"
                      th:href="@{/salaries(page=${currentPage + 1},size=${size},sortDirection=${sortDirection},sortProperty=${sortProperty})}"
                      >Suivant</a
                    >
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
